<h1>Hello Angular!</h1>
<h2> Testando h2</h2>
<p>Alguma coisa</p>
<div>
  <a href="https://www.youtube.com/watch?v=vJt_K1bFUeA&list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw">Clique aqui para ver mais sobre o Curso</a>
</div>
<app-first-component></app-first-component>
<app-parents-data [name]="userName" [userData]="userData"></app-parents-data>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-eventos></app-eventos>
<app-emitter></app-emitter>
<app-list-render></app-list-render>
<app-pipes></app-pipes>



